.link_container {
  padding: 0;
}

.link_container > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;
  margin: 0.5rem;
}

.link_container .link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.link span {
  display: none;
}

.group_header {
  display: none;
}

@media screen and (min-width: 648px) {
  .link span {
    display: inline;
  }
  .group_header {
    display: inline-block;
  }
}
